@using AccountingPack.Models
@model AccountingPack.Models.Business

@{
    LoginUser loginUser = ViewBag.LoginUser;
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form id="business" asp-action="Edit" class="ap-form">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Address.ContactEmail" />
            <input type="hidden" asp-for="Owner.UserName" />
            <input type="hidden" asp-for="Owner.Id" />
            <input type="hidden" asp-for="AddressId" />
            <input type="hidden" asp-for="Address.Id" />
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input asp-for="BusinessName" class="ap-form-control"
                               placeholder="@Html.DisplayNameFor(m=>m.BusinessName)" />
                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <input asp-for="Address.AddressLine1" class="ap-form-control"
                               placeholder="@Html.DisplayNameFor(m=>m.Address.AddressLine1)" />
                        <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Address.AddressLine2" class="ap-form-control"
                               placeholder="@Html.DisplayNameFor(m=>m.Address.AddressLine2)" />
                        <span asp-validation-for="Address.AddressLine2" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <input asp-for="Address.AddressState" class="ap-form-control"
                               placeholder="@Html.DisplayNameFor(m=>m.Address.AddressState)" />
                        <span asp-validation-for="Address.AddressState" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Address.Country" class="ap-form-control"
                               placeholder="@Html.DisplayNameFor(m=>m.Address.Country)" />
                        <span asp-validation-for="Address.Country" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <input asp-for="Address.ZipCode" class="ap-form-control"
                               placeholder="@Html.DisplayNameFor(m=>m.Address.ZipCode)" />
                        <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Address.ContactNumber" class="ap-form-control"
                               placeholder="@Html.DisplayNameFor(m=>m.Address.ContactNumber)" />
                        <span asp-validation-for="Address.ContactNumber" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-default ap-submit" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

